@use "variables" as *;
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: $font-body;
  background: $bg;
  color: $white;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: $font-body;
}
