// Colors
$bg: #010a13;
$bg-card: #0a1428;
$bg-card2: #071021;

$gold: #c89b3c;
$gold-light: #f0e6c8;
$gold-dim: #785a28;

$blue: #0ac8b9;
$red: #c8292a;

$text: #c8aa6e;
$text-dim: #5b5a56;
$white: #f0e6c8;

$border: rgba(200, 155, 60, 0.2);

// Fonts
$font-display: "Orbitron", sans-serif;
$font-body: "Rajdhani", sans-serif;

// Breakpoints
$bp-mobile: 768px;
$bp-tablet: 1100px;
