@use "../../styles/variables" as *;

.wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;

  margin-top: 2rem;
}

/* ========================= */
/* LEFT COLUMN */
/* ========================= */

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.matchesList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* ========================= */
/* RIGHT COLUMN */
/* ========================= */

.rightColumn {
  background: $bg-card;
  padding: 1.5rem;
  border-radius: 12px;
  height: fit-content;
}

.placeholder {
  margin-top: 1rem;
  color: $white;
  font-size: 0.9rem;
}

/* ========================= */
/* TITLE */
/* ========================= */

.title {
  font-size: 1.2rem;
  font-weight: 700;
  color: $gold;
}

/* ========================= */
/* RESPONSIVE */
/* ========================= */

@media (max-width: 1000px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .rightColumn {
    order: -1;
  }
}
